APP_NAME=NOM_PROJET
APP_ENV=production
APP_KEY=VOTRE_KEY(généré automatiquement)
APP_DEBUG=true
APP_URL=https://epita-NOM.13h37.io/


DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=NOM_DB
DB_USERNAME=USERNAME_DB
DB_PASSWORD="VOTRE_MDP_BDD"


MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
