/vendor/
/node_modules/

/public/storage/
/public/phpmyadmin/
/storage/*.key
/.env
/.env.backup
/.env.testing
/.env.local
/.env.production
/.phpunit.result.cache

/bootstrap/cache/*.php
/bootstrap/cache/*.txt

Homestead.json
Homestead.yaml
/homestead/

/npm-debug.log
/yarn-error.log

.DS_Store
/Thumbs.db
/.idea
/_ide_helper.php
/_ide_helper_models.php
/.vagrant
/Vagrantfile
/phpunit.xml
/phpcs.xml

/.fleet
/.vscode